@media only screen and (min-width: 768px) {
  body {
    width: 100vw;
    max-width: 100%;
    color: var(--font-body);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  }

  .pane__title {
    position: absolute;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    text-align: center;
  }

  .pane__title-main {
    margin: 36rem 0 16rem 0;
    font-size: 64rem;
    font-weight: 600;
    color: var(--font-title);
  }

  .pane__title-sub {
    margin: 12rem 0;
    font-size: 25rem;
    font-weight: 500;
    color: var(--font-subtitle);
  }

  .content__figures {
    display: flex;
    justify-content: space-evenly;
    margin: 42px 0 62px 0;
  }

  .content__figure {
    margin: 0;
    width: 25%;
  }

  .content__figure__image {
    border: 12rem solid var(--pane);
  }

  .content__fig-title {
    margin: 16rem 0;
    font-size: 32rem;
  }

  .content__fig-cap {
    margin-bottom: 0;
    font-size: 18rem;
  }

  .content__fig-cap--last {
    margin-bottom: 0;
  }

  .content__description {
    display: flex;
    justify-content: space-evenly;
  }

  .content__description-figure {
    width:460rem;
    min-width: 460rem;
    height: 460rem;
    margin: 2% 4%;
    border: 16rem solid var(--main);
  }

  .content__article {
    width: 56%;
    margin: 4% 8% 0 0;
    text-align: start;
  }

  .content__article-title {
    margin: 0;
    margin-bottom: 2%;
    font-size: 40rem;
    font-weight: 500;
  }

  .content__text {
    margin-bottom: 2%;
    line-height: 1.2;
    font-size: 18rem;
  }

  .content__text:last-child {
    margin-bottom: 40rem;
  }

  .footer__text {
    margin: 3.5%;
    font-size: 36rem;
  }
}