:root {
  --main: #434343;
  --pane: #707070;
  --font-title: #4d6128;
  --font-subtitle:#213800;
  --font-body: #fff;
}

body {
  width: 100vw;
  max-width: 100%;
  background-color: var(--main);
  color: var(--font-body);
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.pane__title {
  position: relative;
  width: 66%;
  margin: 0 auto;
  text-align: center;
}

.pane__title-main {
  margin: 40rem 0;
  font-size: 80rem;
  font-weight: 500;
}

.pane__title-sub {
  margin: 40rem 0;
  font-size: 42rem;
}

.pane__image {
  width: 100%;
}

.content {
  text-align: center;
}

.content__figure {
  margin: 4.5% 3%;
}

.content__figure__image {
  width: 100%;
  border: 3vw solid var(--pane);
}

.content__fig-title {
  margin: 40rem 0;
  font-size: 60rem;
  font-weight: 500;
}

.content__fig-cap {
  margin-bottom: 80rem;
  line-height: 1.2;
  font-size: 22rem;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.content__fig-cap--last {
  margin-bottom: 40rem;
}

.content__description {
  background-color: var(--pane);
  padding: 1px;
}

.content__description-figure {
  width: 96vw;
  height: 96vw;
  margin: 2.5vh auto;
  border: 3vw solid var(--main);
  border-radius: 48vw;
  background-image: url('../image/dot-img.jpeg');
  background-repeat: no-repeat;
  background-size: 222% ;
  background-position: 23% 36%;
}

.content__article {
  margin: 4.5% 3.5%;
}

.content__article-title {
  margin: 80rem 0;
  font-size: 115rem;
  font-weight: 500;
}

.content__text {
  margin-bottom: 60rem;
  line-height: 1.2;
  font-size: 22rem;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.content__text--bold {
  font-weight: bold;
}

.content__text--em {
  font-style: italic;
}

.content__text:last-child {
  margin-bottom: 120rem;
}

.footer {
  position: relative;
  width: 66%;
  margin: 0 auto;
  text-align: center;
}

.footer__text {
  margin: 140rem 0;
  font-size: 80rem;
  font-weight: 500;
}